<?xml version="1.0" encoding="UTF-8"?>
<suite name="RestAssuredTestSuite">

    <test name="RestAssuredTests">

        <classes>
            <class name="testCase.GetAllEmployees"></class>
            <class name="testCase.GetSingleEmployee"></class>
            <class name="testCase.PostEmployeeRecord"></class>
            <class name="testCase.PutEmployeeRecord"></class>
        </classes>
    </test>
</suite>